@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  --color-black: #222123;
  --color-main-bg: #232224;
  --color-white: #ffffff;
  --color-dark-brown: #523122;
  --color-mid-brown: #a26833;
  --color-light-brown: #e3a458;
  --color-red-brown: #7f3b2d;
  --color-yellow-brown: #a26833;
  --color-milk-yellow: #e3d3bc;
  --color-red: #a02128;
  --color-milk: #faeade;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-antonio: var(--font-antonio);
  --font-nunito: var(--font-nunito);
  --font-lobster: var(--font-lobster);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* GLOBAL BASE */
html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  /* Hide scrollbar (keep scrolling) */
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

/* Chrome / Safari */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
/* Standard selection */
::selection {
  background-color: #4a4a4a; /* The dark gray from your image */
  color: #F5E6D3;            /* Your 'milk' color (adjust hex if needed) */
}

/* Firefox specific */
::-moz-selection {
  background-color: #4a4a4a;
  color: #F5E6D3;
}

/* Clean up mobile tap behavior */
html {
  -webkit-tap-highlight-color: transparent;
}